{% include 'logged_navbar.html'%}

<!--<div class="text-center mt-5">
    <h4>Chatbot</h4>
	<h5>Hello {{user.first_name}}, how can I help you?<div>

</div></h5>
    <a class="nav-link" href="/dashboard">Click here to return to the Dashboard</a>
</div>
#chatContainer {height: calc( 100vh - 220px );overflow-y: auto;}
</style> 


<div>
{% include 'footer.html'%}
</div>-->




{% block header %}

<style>

.container {
  border: 2px solid;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 800px;
  padding: 20px;
}
.bot {
  border-color: #dedede;
  background-color: #f1f1f1;
}
.user {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container .img {
  max-width: 60px;
  height:60px;
  width: 60px;
  background-size: cover;
  border-radius: 50%;
  }

.bot .img {
  float: left;
  margin-right: 20px;
  background-image: url('https://www.w3schools.com/w3images/bandmember.jpg');
}

.user .img {
  float: right;
  margin-left: 20px;
  background-image: url('https://www.w3schools.com/w3images/avatar_g2.jpg');
}

.bot .time {
  float: right;
  color: #aaa;
}

.user .time {
  float: left;
  color: #999;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
#chatContainer {height: calc( 100vh - 220px );overflow-y: auto;}
</style>

{% endblock %}

{% block content %}
<h2>Web UI for ChatBotAI</h2>
<div id="chatContainer">
  <div id="chatwindow">
  </div>
</div>
<div class="type_msg">
  <div class="input_msg_write">
    <input type="text" class="write_msg" placeholder="Type a message" />
    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
  </div>
</div>
{% endblock %}
